@model IEnumerable<PrimeiroMVC.Models.Aluno>
@{
    ViewData["Title"] = "Listar Alunos";
}
<h1>Listar Alunos</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
    </thead>

</table>