@model IEnumerable<PrimeiroMVC.Models.Aluno>
@{
    ViewData["Title"] = "Listar Alunos";
}
<h1>Listar Alunos</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
    </thead>

    <tbody>
        <!-- Laço de Repetição foreach para listar todos os elementos   -->
        @foreach (var aluno in Model)
        {
            <tr>
                <td>@aluno.AlunoId</td>
                <td>@aluno.Nome</td>
                <td>@aluno.Email</td>
                <td>@aluno.RM</td>

            </tr>
        }
    </tbody>
</table>